@charset "utf-8";
header.row h1 {
	color: #3C4663;
	background-image: -webkit-linear-gradient(270deg,rgba(255,131,98,1.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,131,98,1.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,131,98,1.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,131,98,1.00) 0%,rgba(255,255,255,1.00) 100%);
	text-shadow: 0px 5px #DEADA1;
	letter-spacing: 0em;
	word-spacing: 0em;
	background-color: #6D748C;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	text-align: center;
	font-size: 400%;
	height: 120%;
	line-height: 180%;
}

.img.flt_rgt {
	background-image: url(Images/paw%20prints.jpg);
	max-width: 5px;
	min-width: 5px;
	width: 8px;
	height: 8px;
	min-height: 5px;
	color: #FF8362;

}

.logodiff {
	color: #6D748C;
	text-shadow: 0px 5px #DEADA1;
}

header.row p {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-shadow: 0px 3px 5px;
	color: #3C4663;
	text-align: center;
	letter-spacing: 5px;
}
nav.row .navbar.navbar-default {
	background-color: #3C4663;
	background-image: -webkit-linear-gradient(270deg,rgba(60,70,99,1.00) 0%,rgba(109,116,140,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(60,70,99,1.00) 0%,rgba(109,116,140,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(60,70,99,1.00) 0%,rgba(109,116,140,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(60,70,99,1.00) 0%,rgba(109,116,140,1.00) 100%);
	border-top-width: 1px;
	border-top-style: solid;
	color: #FF8362;
}


nav.row.nav.navbar-nav > li > a:link  ,nav.row.nav.navbar-nav > li > a:visited,nav.row.nav.navbar-nav > li > a{
	border-top: 1px solid #3C4663;
	border-right: 1px solid #6D748C;
	border-bottom: 1px solid #6D748C;
	border-left: 1px solid #3C4663;
	color: #BB7365;
}
nav.row.nav.navbar-nav > li > a:hover {
	background-color: #6D748C;
	background-image: -webkit-linear-gradient(90deg,rgba(222,173,161,1.00) 0%,rgba(187,115,101,1.00) 100%);
	background-image: -moz-linear-gradient(90deg,rgba(222,173,161,1.00) 0%,rgba(187,115,101,1.00) 100%);
	background-image: -o-linear-gradient(90deg,rgba(222,173,161,1.00) 0%,rgba(187,115,101,1.00) 100%);
	background-image: linear-gradient(0deg,rgba(222,173,161,1.00) 0%,rgba(187,115,101,1.00) 100%);
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color: #FF8362;
}
nav.row {
	border-top: 3px dotted #FF8362;
	color: #3C4663;
}
nav.row .nav.navbar-nav {
	width: 715px;
	margin-top: 0px;
	color: #BB7365;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-variant: small-caps;
	font-weight: bold;
}
footer {
	padding: 1em 0px;
	background-color: #FF8362;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0.52%,rgba(255,131,98,1.00) 98.45%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0.52%,rgba(255,131,98,1.00) 98.45%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0.52%,rgba(255,131,98,1.00) 98.45%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0.52%,rgba(255,131,98,1.00) 98.45%);
	color: #3C4663;
	text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: medium;
	line-height: 1;
	word-spacing: 0.5em;
	border: thin solid #FF8362;
	background-size: auto auto;
}
.flt_rgt {
}
article.row aside blockquote {
	padding: 0px;
	margin: 0px 0px 20px 0px;
	color: #3C4663;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	background-color: #DEADA1;
}
article.row aside blockquote cite {
	-webkit-box-shadow: inset 0px 0px #6D748C;
	box-shadow: inset 0px 0px #6D748C;
}
.row .col-sm-4 .col-sm-4.img {
	background-image: url(Images/LogoImage.jpg);
}
.sidebar2  {
	color: #3C4663;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-variant: small-caps;
	font-size: 110%;
	text-align: center;
	text-shadow: 0px 0px 15px #6D748C;
	margin-bottom: 5px;
	padding-bottom: 10px;
	background-image: -webkit-linear-gradient(270deg,rgba(187,115,101,1.00) 0%,rgba(222,173,161,1.00) 99.48%,rgba(187,115,101,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(187,115,101,1.00) 0%,rgba(222,173,161,1.00) 99.48%,rgba(187,115,101,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(187,115,101,1.00) 0%,rgba(222,173,161,1.00) 99.48%,rgba(187,115,101,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(187,115,101,1.00) 0%,rgba(222,173,161,1.00) 99.48%,rgba(187,115,101,1.00) 100%);
	border: thick inset #FF8362;
	background-position: 0 0;
	left: 9px;
	right: 25px;
}
.sidebar2 p {
	color: #3C4663;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	border-top-style: groove;
	min-width: 0px;
	display: block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	font-size: medium;
	text-indent: 0;
	letter-spacing: 5px;
	background-color: #FF8362;
	margin-top: 5px;
	/* [disabled]list-style-position: outside; */
	text-align: center;
}
