@charset "utf-8";
header.row h2 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-variant: small-caps;
	text-align: center;
	color: #82878C;
	font-size: 350%;
	text-shadow: 0px 5px 5px #FFEACC;
}
